.list {
  margin-top: 35px;
}

.title{
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;

  color: #252A31;
}

.title_done{
  color: rgba(77, 79, 82, 0.49);
}

.item {
  display: flex;
  align-items: center;

  margin-top: 15px;
}


.button {
  order: 1;
  background-color: transparent;
}

.delete {
  width: 24px;
  height: 24px;
  order: 3;

  background-color: transparent;
  border-radius: 50%;
  margin-left: auto;

  padding: 13px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .07s;

  &:active{
    background-color: rgba(128, 128, 128, 0.29);
  }
}

.easy-edit-component-wrapper input {
  padding: 5px;
}