.header {
  display: grid;
  grid-auto-flow: column;

  margin-bottom: 35px;
}

.date {
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.01em;
  color: #252A31;
  font-weight: 700;
}

.more{
  background-color: transparent;
  margin-left: auto;
}