@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Reset*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside{display: block;}

html, body{
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*----------------------------------------------------*/


.easy-edit-wrapper,
.easy-edit-inline-wrapper{

  order: 2;
  margin-left: 15px;
  max-width: 100%;
}

.easy-edit-component-wrapper input{
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  font-weight: 700;

  color: #252A31;
  padding: 2px;

  white-space: nowrap;
}